ion-header {
  ion-toolbar {
    --background: var(--ion-color-primary-contrast);
    --padding: 1rem;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
