<ion-tabs>
  <ion-router-outlet></ion-router-outlet>

  <ion-tab-bar slot="bottom">
    <ion-tab-button class="custom-tab" tab="feed" [routerLink]="['/tabs/feed']">
      <ion-icon class="tab-icon" name="home-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="custom-tab" tab="swipe" [routerLink]="['/tabs/swipe']">
      <ion-icon class="tab-icon" name="heart-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="custom-tab" tab="profile" [routerLink]="['/tabs/profile']">
      <ion-avatar>
        <img [src]="userPhotoUrl || 'assets/default-avatar.png'" />
      </ion-avatar>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
