ion-tab-bar {
  background-color: var(--ion-color-primary-contrast);
  --border: 1px solid var( --ion-color-light-shade);
}

ion-tab-button {
  --background: var(--ion-color-primary-contrast);

  ion-avatar {
    width: 28px;
    height: 28px;
    margin: auto;
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 2px solid transparent; // Bordure transparente par défaut
      transition: border-color 0.2s; // Animation optionnelle
    }
  }

  &.tab-selected {
    ion-avatar img {
      border-color: var(--ion-color-primary); // Bordure colorée quand sélectionné
    }
  }
}
