:root {
  --ion-color-primary: #ff6b81; /* Un rose vif */
  --ion-color-primary-rgb: 255, 107, 129;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #e55d7a; /* Teinte plus foncée */
  --ion-color-primary-tint: #ff9bbd; /* Teinte plus claire */

  --ion-color-secondary: #4b79a1; /* Un bleu apaisant */
  --ion-color-secondary-rgb: 75, 121, 161;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #3d6690;
  --ion-color-secondary-tint: #7ea6c9;

  --ion-color-tertiary: #f1c40f; /* Un jaune lumineux */
  --ion-color-tertiary-rgb: 241, 196, 15;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #d4ac0d;
  --ion-color-tertiary-tint: #f4d03f;

  --ion-color-success: #2ecc71; /* Un vert vif et optimiste */
  --ion-color-success-rgb: 46, 204, 113;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #27ae60;
  --ion-color-success-tint: #58d68d;

  --ion-color-warning: #e67e22; /* Un orange dynamique */
  --ion-color-warning-rgb: 230, 126, 34;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #d76d3d;
  --ion-color-warning-tint: #f39c12;

  --ion-color-danger: #e74c3c; /* Un rouge accrocheur */
  --ion-color-danger-rgb: 231, 76, 60;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c0392b;
  --ion-color-danger-tint: #e57373;

  --ion-color-light: #fdfdfd; /* Un blanc doux */
  --ion-color-light-rgb: 253, 253, 253;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e6e6e6;
  --ion-color-light-tint: #ffffff;

  --ion-color-medium: #95a5a6; /* Un gris neutre */
  --ion-color-medium-rgb: 149, 165, 166;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #7f8c8d;
  --ion-color-medium-tint: #bdc3c7;

  --ion-color-dark: #34495e; /* Un bleu sombre et élégant */
  --ion-color-dark-rgb: 52, 73, 94;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #2c3e50;
  --ion-color-dark-tint: #4b6584;
}
