<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="back-button-container">
        <ion-button class="custom-back-button" (click)="goBack()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
    <ion-title>{{ friend?.firstName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="chat-box">
    @for (message of messages; track message) {
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="friend?.avatar || ''" alt="User Avatar" />
      </ion-avatar>
      <ion-label>
        <h2>{{ message.content }}</h2>
        <p>{{ message.updatedAt | date : "shortTime" }}</p>
      </ion-label>
    </ion-item>
    }
  </ion-list>
</ion-content>

<ion-footer>
  <form [formGroup]="chatForm" (submit)="onSubmit()">
    <ion-item>
      <ion-input
        formControlName="message"
        placeholder="Écrire un message..."
      ></ion-input>
      <ion-button type="submit">Envoyer</ion-button>
    </ion-item>
  </form>
</ion-footer>
