<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="chat-box">
    @for (message of messages; track message) {
    <ion-item>
      {{ message }}
    </ion-item>
    }
  </ion-list>
</ion-content>

<ion-footer>
  <form [formGroup]="chatForm" (submit)="onSubmit()">
    <ion-item>
      <ion-input
        formControlName="message"
        placeholder="Écrire un message..."
      ></ion-input>
      <ion-button type="submit">Envoyer</ion-button>
    </ion-item>
  </form>
</ion-footer>
