<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <div class="back-button-container">
        <ion-button class="custom-back-button" (click)="goBack()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-buttons>
    <ion-title>{{ friend?.firstName }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="chat-box">
    @for (message of messages; track message) { @if (message.senderId ===
    friend?.id) {
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="friend?.avatar || ''" alt="User Avatar" />
      </ion-avatar>
      <ion-label>
        <h2>{{ message.content }}</h2>
        <p>{{ message.updatedAt | date : "shortTime" }}</p>
      </ion-label>
    </ion-item>
    } @else {
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="currentUser?.avatar || ''" alt="User Avatar" />
      </ion-avatar>
      <ion-label>
        <h2>{{ message.content }}</h2>
        <p>{{ message.updatedAt | date : "shortTime" }}</p>
      </ion-label>
    </ion-item>
    } }
  </ion-list>
</ion-content>

<ion-footer>
  <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
    <div class="message-input-container">
      <ion-textarea
        formControlName="message"
        placeholder="Écrire un message..."
        autoGrow="true"
        inputmode="text"
        rows="1"
        class="message-textarea"
      ></ion-textarea>
      <ion-button
        [type]="chatForm.get('message')?.value ? 'submit' : 'button'"
        fill="clear"
        class="send-button"
        (click)="!chatForm.get('message')?.value && sendThumbsUp()"
      >
        <ion-icon
          [name]="chatForm.get('message')?.value ? 'send' : 'thumbs-up-sharp'"
        ></ion-icon>
      </ion-button>
    </div>
  </form>
</ion-footer>
